APIrest/.slcache
/bin/
mockserver/log.log
mockserver/target/
mockserver/target-eclipse/classes/
mockserver/target-eclipse/
mockserver/web-app/WEB-INF/
webserver/target/
webserver/bin/
webserver/stacktrace.log
webserver/web-app/WEB-INF/classes/
webserver/web-app/reports/
APIrest/target/
APIrest/bin/
APIrest/out/
APIrest/stacktrace.log
APIrest/web-app/WEB-INF/classes/
APIrest/web-app/reports/
APIrest/export.log
APIrest/web-app/images/labels
APIrest/web-app/images/labelsnull
APIrest/web-app/images/labelslabelsnull/
APIrest/test/*.pdf
APIrest/test/*.zip
APIrest/*.gif
APIrest/*.png
APIrest/*.jpg
log.log
target/
web-app/WEB-INF/
target/
stacktrace.log
web-app/WEB-INF/classes/
web-app/reports/
webserver/target-eclipse/
webserver/.settings
webserver/.classpath
webserver/.project
webserver/.classpath
webserver/.project
APIrest/target-eclipse/
APIrest/.settings
APIrest/.project
APIrest/.classpath
APIrest/cobertura.ser
APIrest/*.sublime-*
*.DS_Store
*.idea/
*.iml
*.ipr
*.iws
projectFilesBackup
